@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500;1,700;1,900&family=Source+Sans+3&display=swap');

/******************************************
/* CSS
/*******************************************/

.sr-only{  /*accessibility purpose */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 4rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(14, 98%, 50%);
  --black-color: hsl(0, 0%, 0%);
  --black-color-light: #333;
  --second-color: #c29b40;
  --white-color: hsl(0, 0%, 95%);
  --title-color: hsl(0, 0%, 0%);
  --text-color: #333;
  --text-color-light: hsl(0, 0%, 64%);
  --body-color: #FFFFFF;
  --container-color: #f1f1f1;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Roboto", sans-serif;
  --biggest-font-size: 3.5rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.35rem;
  --normal-font-size: 1.2rem;
  --paragraph-font-size: 1rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*=============== GENERAL ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color .4s;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button{
  border: 0;
  border-radius: 0.1rem;
  background: var(--container-color);
  color: var(--black-color);
  font-size: 1.5rem;
  white-space: nowrap;
  text-decoration: none;
  padding: .5rem .7rem .5rem .7rem;
  cursor: pointer;
}


/*=============== NAVIGATION ===============*/

.logo{
  margin-left: .5rem;
  width: 13rem;
} 

.header{
  position: fixed;
  width: 100%; 
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  height: var(--header-height);
  /* box-shadow: 0 1px 13px hsla(0,0%,0%, .62); */
}

.nav{
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

/*box-shadow*/

.nav::after{
  content: ''; 
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding-top: 5px;
  z-index: -1;
  box-shadow: 0 2px 7px hsla(0,0%,0%, .2);
}

.mobile__nav__toggle{
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  color: var(--black-color);
  font-size: 1.95rem;
  cursor: pointer;
  background: none;
  border: 0;
  z-index: 9999;
}

@media screen and (max-width: 1150px){
  .nav__list{
    position: fixed;
    background-color: var(--container-color);
    top: -220px;
    width: 100%;
    padding: 2rem 0rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.2rem;
    z-index: -1;
    transition: transform .2s ease-out;
  }
}

.nav__list[data-visible="true"]{
  transform: translateY(100%);
    transition: transform .2s ease-out;
}

.nav__link{
  position: relative;
  color: var(--black-color-light);
  font-size: 1.45rem;
  font-weight: 500;
}


/*=============== MAIN ===============*/

.main{
  background-color: #362613;
}
.home__img{
  width: 100%;
  padding-top: var(--header-height);
  height: 20rem;
  object-fit: cover;
}

.home__title{
  color: var(--white-color);
  font-weight: 600;
  font-size:var(--biggest-font-size);
  margin-top: 3rem;
}

.home__info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem .8rem 0rem .8rem;
}

.home__p{
  color: var(--white-color);
  margin: 1rem 0rem 1rem 0rem;
  font-size: var(--normal-font-size);
  font-weight: 300;
  text-align: center;
}

.home__btn{
  width: 100%;
  margin: 1rem 0 3rem 0;
}

/*=============== SELL ===============*/

.sell__section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white-color);
  height: fit-content;
  padding: 0 .8rem 0 .8rem;
  padding-bottom: 2rem;
}

.sell__section-title{
  color: #333;
  font-size: var(--h1-font-size);
  margin: 3rem 0 1rem 0;
  text-align: left;
  font-weight: 400;

}

.sell__section-desc{
  color: #333;
  margin: 1rem 0 1rem 0;
  text-align: left;
  font-size: 1.2rem;
}


.sell__button{
  background-color: white;
  width: min-content;
  align-self: center;
  color: #333;
  width: 100%;
  margin: 2rem 0rem 2rem 0rem;
  border: 4px solid #333;
}

/*=============== POPULAR ITEMS SECTION ===============*/

.popular__container{
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
}

.popular__section-title{
  align-self: center;
  margin-top: 2rem;
  font-size: var(--h2-font-size);
  font-weight: 400;
}

.popular__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem .8rem 2rem .8rem;
}

.popular__img{
  height: 27rem;
  width: 20rem;
  object-fit: cover;
}

.popular__item-title{
  font-size: var(--h3-font-size);
  margin: 1rem;
  text-align: center;
}

.popular__price{
  margin-bottom: 1rem;
}

.popular__btn{
  border: 2px solid #222;
  width: 85%;
  padding: 1rem 0rem 1rem 0rem;
}


/*=============== WHY US SECTION ===============*/

.whyus__container{
  padding-bottom: 2.5rem;
  background-color: #222;
  display: flex;
  flex-direction: column;
}

.whyus__container-title{
  font-size: var(--h2-font-size);
  font-weight: 400;
  color: #FFFFFF;
  margin: 2rem 0rem 3rem .8rem;
}

.whyus__reason{
  padding: 1rem;
  margin: 0rem .8rem 1rem .8rem;
  background-color: var(--white-color);
}

.reason__icon{
  font-size: 2rem;
  display: inline-block;
  margin: 1rem 0rem 1rem 0rem;
}

.whyus__title{
  font-size: var(--normal-font-size);
  font-weight: 500;
  margin-bottom: .8rem;
}

.whyus__desc{
  font-size: var(--paragraph-font-size);
  margin-bottom: 2rem;
}

/*=============== POPULAR CATEGORIES SECTION ===============*/

.categories__container{
  display: flex;
  flex-direction: column;
  padding-bottom: 2.5rem;
}

.categories__title{
  align-self: center;
  text-align: center;
  font-weight: 400;
  font-size: var(--h2-font-size);
  margin-top: 2rem;
}

.category__individual{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem .8rem 2rem .8rem;
}

.category__img{
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.category__title{
  font-size: var(--h3-font-size);
  margin: 1rem;
  text-align: center;
}

.category__btn{
  border: 2px solid #222;
  padding: 1rem 2rem 1rem 2rem;
}

/*=============== SOCIAL BAR ===============*/

.social__container{
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.social__title{
  color: white;
  font-weight: 400;
  font-size: var(--h2-font-size);
  margin: 3rem 0rem 3rem 0rem;
  text-align: center;
}

.social__btns-container{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem; 
  width: 100%; 
}

.social__btn{
  background: none;
  border: none;
  cursor: pointer;
}

.social__icon{
  font-size: 2.5rem;
  filter: invert();
}

/*=============== HOW TO SECTION ===============*/
.howto__container{
  margin: 2rem .8rem 2rem .8rem;
}

.howto__individual{
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  color: white;
  cursor: pointer;
}

.first__howto{
  background-image: url('../img/objects-img/matta.jpg');
  background-size: cover;
  box-shadow: inset 0 0 0 50vw rgba(0,0,0,0.5);
  margin-bottom: .5rem;
}

.second__howto{
  background-image: url('../img/objects-img/Matisse.jpg');
  background-position:top;
  background-size: cover;
  box-shadow: inset 0 0 0 50vw rgba(0,0,0,0.5);
}

.howto__upper-title{
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: .2rem;
}

.howto__title{
  font-size: 1.45rem;
}

/*=============== FOOTER ===============*/

.footer__container{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: #222;
}

.footer__logo{
  margin: 1rem 0rem 0rem .5rem;
}

.links__container{
  margin: 0rem .8rem 0rem .8rem;
}

.links__title{
  display: block;
  color: #b71e07;
  font-size: var(--h3-font-size);
  margin-bottom: .3rem;
}

.footer__link{
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.social__btns-container{
  gap: 1rem;
}


/*=============== FOR MEDIUM MOBILES ===============*/

